/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 14px; /*not part of Meyer's reset*/
	font-family: 'Roboto', 'Arial', sans-serif;  /*not part of Meyer's reset*/
	color: #212121;  /*not part of Meyer's reset*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************added css reset***************************/
a, a:hover, a:visited, a:active, a:focus {
	text-decoration: none;
	color: inherit;
}

/*********************end of css reset************************/

i span {
	display: none;
}

.grey-text {
	color: #848484;
}

.bold-text {
	font-weight: bold;
}

.grey-bott-border {
	border-bottom: 1px solid #f7f7f7;
}

/*****************************************
*******************Navbar*****************
*****************************************/

header {
	width: 100%;
	height: 60px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	color: #848484;
}

header i:hover,
header img:hover {
	cursor: pointer;
	color: #000;
	opacity: 1;
}

/*****left******/
.left-nav {
	width: 20%;
	margin-left: 25px;
}

/*****center******/
.search-bar {
	width: 40%;
	display: flex;
}

.search-box{
	width: 85%;
	height: 30px;
	padding: 2px 6px;
	border-radius: 2px 0 0 2px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
}

.search-bar input {
	margin-right: 4px;
	max-width: 100%;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 1rem;
}

.search-btn {
	border-top: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	width: 60px;
	text-align: center;
	background-color: #f8f8f8;
	border-radius: 2px 0 0 2px;
}

.search-btn i {
	width: auto;
	padding: 8px 0;
}

/*****right******/

.right-nav  {
	width: 40%;
	margin-right: 40px;
	text-align: right;
}

.right-nav * {
	margin-left: 10%;
}

.right-nav a {
	margin-left: 15%;
	color: #2793e6;
	cursor: pointer;
}

.right-nav a:hover {
	opacity: 0.6;
}

.right-nav img {
	transform: translateY(3px);
	opacity: 0.4;
}

/*****************************************
*******************Main*****************
*****************************************/

section {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	height: auto;
	margin-top: 30px;
}

/*******************Video*****************/

.curr-video {
	width: 98%;
	line-height: 2.4rem;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 30px;
	height: 0;
	margin: 0 auto;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*video data*/
h1 {
	font-size: 1.2rem;
	padding-top: 10px;
}

.vid-data {
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
}

.nb-views {
	font-size: 1rem;
	width: 50%;
}

.vid-options {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #a4a4a4;
	font-size: 0.8rem;
}

.vid-options p {
	padding-left: 10px;
	padding-right: 20px;
}

.vid-options i:last-of-type {
	padding-left: 20px;
	padding-right: 20px;
}

.vid-options i:hover {
	color: #333;
	cursor: pointer;
}

/*video details*/
.vid-details {
	line-height: 1.5rem;
}

.vid-text {
	margin-left: 64px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.profile-pic {
	margin-top: 20px;
	margin-right: 16px;
	background-color: #689f39;
	float: left;
	width: 48px;
	height: 48px;
	border border-radius:;
	border-radius:  50%;
	color: #fff;
	display:  flex;
	justify-content:  center;
	align-items:  center;
	font-size: 1.4rem;
}

.subscribe-btn {
	margin-top: 20px;
	float: right;
	text-align: center;
  width: 130px;
  color: #fff;
  background-color: #FF0000;
  padding: 5px 0;
  border-radius: 2px;
	cursor: pointer;
}

.subscribe-btn span {
	padding-left: 4px;
  opacity: 0.8;
	font-weight: bold;
}

.published {
	font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 20px;
}

.show-more {
	color: #848484;
	font-size: 0.8rem;
  margin-top: 10px;
	cursor: pointer;
	line-height: 2.4rem;
}


/*******************Aside*****************/
aside {
	background-color: green;
	width: 40%;
	height: auto;
}
